useDynLib(EMCluster)

exportPattern("^[[:alpha:]]+")
# exportPattern("^[\\.]")

export(
  .EMControl
)

S3method(print, emret)
S3method(summary, emret)
S3method(summary, svd)

S3method(print, RRandret)
S3method(print, initret)
S3method(print, svd)
S3method(summary, svd.wt)
